<%secondaries.forEach(function(secondary, index) { %>

  <div class="location">
    <p><%=secondary.loc%></p>

   <%if (false) {%>
   <!--  <canvas class="icon" id="<%='location' + index%>" icon="<%= otherWeather[index].weather.currently.icon %>"></canvas>
    <p><%=otherWeather[index].weather.currently.temperature%></p> -->
    <%}%>
  </div>

<% }) %>
