<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/">
      <input type="text" name="location">
      <input type="submit">
    </form>
  </body>
</html>
