<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/">
      <input type="text" name="location">
      <input type="submit">
    </form>
    <a href="/auth/register" src="register">Register</a>
    <a href="/auth/login" src="login">Log In</a>
  <div class="box1">
    <% include ./partials/daily-box %>
  </div>
  <div class="box2">
    <% include ./partials/main_box %>
  </div>
  <div class="box3">
    <% include ./partials/locations-box%>
  </div>
    <% include ./partials/scripts %>
  </body>
</html>
