<!DOCTYPE html>
<html>
  <% include ./partials/head %>
<body>
  <h1>Login</h1>
  <form class="register-form" method="post" action="/auth/login">
    <label>Email</label>
    <input class="input" type='text' name='email'>
    <label>Password</label>
    <input class="input" type='password' name='password'>
    <input class="submit" type="submit">
  </form>
  <% include ./partials/scripts %>
</body>
