<!DOCTYPE html>
<html>
  <% include ./partials/head %>
<body>
  <h1>Register</h1>
  <form class="register-form" method="post" action="/auth/register">
    <label>Name</label>
    <input class="input" type='text' name='name'>
    <label>Email</label>
    <input class="input" type='text' name='email'>
    <label>Password</label>
    <input class="input" type='password' name='password'>
    <h4 class="faves">Save your favorite locations for the next time you log in.</h4>
    <label>Home</label>
    <input class="input" type='text' name='location'>
    <label>Location 2</label>
    <input class="input" type='text' name='location'>
    <label>Location 3</label>
    <input class="input" type='text' name='location'>
    <label>Location 4</label>
    <input class="input" type='text' name='location'>
    <label>Location 5</label>
    <input class="input" type='text' name='location'>
    <input class="submit" type="submit">
  </form>
  <% include ./partials/scripts %>
</body>
