<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/">
      <input type="text" name="location">
      <input type="submit">
    </form>
    <p>Hello, <%=user.name%></p>
    <a href="/auth/logout" src="logout">Log Out</a>
  <div class="box1">
    <% include ./partials/daily-box %>
  </div>
  <div class="box2">
    <% include ./partials/main_box %>
  </div>
  <div class="box3">
    Sign in to customize your favorites
  </div>
    <% include ./partials/scripts %>
  </body>
</html>
