$background: rgba(0,4,28,1)
$font: 'Raleway', sans-serif

body
  font: 14px "Raleway", Helvetica, Arial, sans-serif
  background-color: $background
  color: white
a
  color: #00B7FF
  text-decoration: none

.logo
  font-family: "Raleway"
  font-weight: 900
  font-style: italic

.submit
  color: white
  border: 2px solid #00B7FF
  background-color: $background
  padding: 20px 30px
  font-family: $font
  border-radius: 5px

.body-container
  margin: 3% 3%
  display: flex
  justify-content: space-between
  align-items: top

.box1, .box2, .box3
  // background-color: $panel
  color: white
  vertical-align: top

.box1
  width: 18%
  max-width: 175px

.box2
  width: 55%

.box3
  width: 18%

.daily
  display: flex
  justify-content: space-between
  align-items: center

.daily-low
  color: gray

#main-icon
  width: 150px
  height: 150px

.main-weather-container
  display: flex
  justify-content: center

.main-weather
  vertical-align: top
  font-size: 1.5em
  margin-left: 30px

.humidity, .wind, .visibility
  display: inline-block
  margin-left: 30px

.hourly
  display: inline-block
  text-align: center
  margin-left: 10px
  margin-top: 20px

.location-right
  display: block
  font-size: 1.2em

.register-form > input, label
  display: block
  margin: 0 auto
  width: 500px
  margin-top: 20px

.header
  text-align: right
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 3%

.input
  border: none
  border-bottom: 3px solid white
  background-color: $background
  color: white
  padding: 20px

.faves
  text-align: center

.hourly-flex
  display: flex
  justify-content: space-around
.stats-flex
  display: flex
  justify-content: space-around
  align-items: center
.desc
  text-align: center

@media (min-width : 320px) and (max-width : 768px)
  .body-container
    display: flex
    flex-direction: column
  .box1
    width: 90%
    order: 2
    max-width: 90%
    display: flex
    flex-direction: row
    justify-content: space-between
  .box2
    width: 90%
    order: 1
  .box3
    width: 90%
    order: 3
  .header
    text-align: right
    flex-direction: column
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 5%
  .daily
    display: flex
    flex-direction: column
  .icon
    width: 30px
    height: 30px
